html {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #ca1616;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* gap: 3rem; */
  /* border: 2px solid #ca1616; */
  padding: 5px;
  margin-right: 1rem;
}

nav h1{
  font-size: 2rem;
}

nav .navlinks {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin: 0px 30px 0px 10px;
  font-size: 1.3rem;
}

nav .navlinks a {
  text-decoration: none;
  display: inline-block;
}

article img {
  width: 50%;
  height: auto;
}
