* {
  background-color: lightgray;
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
  margin-block: 10px;
  margin-inline: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: white;
  background-color: red;
  text-align: center;
  border: black 3px solid;
}
