* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#pageFirstSection {
  height: 100vh;
  width: 100%;
  background-image: url(images/spidermanbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover {
  background-color: rgba(0, 0, 0, 0.6);
}

nav {
  height: 80px;
  width: 100%;
  padding: 8px 60px;
  display: flex;
  background-color: #1f242d;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
}

.logoContainer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer img {
  height: 100%;
}

.logoContainer h1 {
  color: goldenrod;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.searchContainer {
  background-color: #fff;
  padding: 8px 30px;
  border-radius: 20px;
}

.searchContainer input {
  width: 400px;
  height: 25px;
  background-color: transparent;
  border: none;
}

.searchContainer input:focus {
  outline: none;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggleButton {
  padding: 2px 15px;
  border-radius: 20px;
  background-color: white;
}

.toggleButton div {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #1f242d;
}

.profileContainer .fa-user {
  color: white;
  font-size: 25px;
}

.mainContent {
  display: flex;
  gap: 20px;
  height: calc(100vh - 80px);
  position: relative;
}

.container {
  perspective: 1000px;
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 20px;
}
.card {
  width: 250px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  margin-bottom: 20px;
  transition: all 0.5s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #fff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.content h2 {
  margin-bottom: 10px;
  font-size: 25px;
  font-family: Alan sans;
}

.content span {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;
}

.content span .fa-play {
  color: #1f242d;
  font-size: 20px;
}

.content span:hover {
  transform: scale(1.2);
}

.card:hover {
  height: 280px;
  transform: rotateX(5deg) translateY(-15px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}
.card:hover img {
  transform: scale(1.1);
}

#pageSecondSection {
  padding: 35px 120px 20px 120px;
  width: 100%;
  background-color: #dadada;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.secondSectionContainer1,
.secondSectionContainer2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 25px;
}

.secondSectionContainer1 article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Alan Sans;
}

.secondSectionContainer1 article span {
  display: flex;
  gap: 8px;
  align-items: center;
}

.movieCardContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  /* gap: 25px; */
}

.movieCard {
  margin: 10px auto;
  width: 300px;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.movieCard:hover {
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); */
  transform: scale(1.03);
}

.movieCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movieCard .movieDetails {
  visibility: hidden;
}

.movieCard:hover .movieDetails {
  visibility: visible;
  flex-direction: column;
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 60%;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding: 20px;
  /* text-align: center; */
  color: white;
  font-family: Alan Sans;
  background-color: rgba(0, 0, 0, 0.6);
}

.movieDetails h1 {
  font-size: 22px;
}

.versionContainer {
  display: flex;
  gap: 6px;
}

.versionType {
  text-align: center;
  width: 30px;
  height: 25px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

.secondSectionContainer2 article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Alan Sans;
}

.secondSectionContainer2 article span {
  display: flex;
  gap: 8px;
  align-items: center;
}
