* {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
  margin-block: 10px;
  margin-inline: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}



.Header,
.Header2 {
    background-color: #eb7676;
    padding: 4px 6px;
    border: black 3px solid;
    font-size: 20px;
};

.Header2  {
font-size: 24px;
}

#unique {
    font-size:  36px;
    color: white;
    background-color: #0000ff;
    border: rgb(3, 3, 3) 3px solid;
    padding: 4px 6px;
}

#unique2 {
    font-weight: bold;
    background-color: #00ff00;
    border: #1e8b1e;
    padding: 4px 6px;
};
