* {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;/* Viewport height instead of 100% */
}

div {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: blue;
  width: 100%;
  height: 100%; 
}


.btn {
  cursor: pointer;
  padding: 3px 5px;
  font-size: 30px;
}

.btn2 {
  background-color: yellow;
  border: black 3px solid;
}

.btn1 {
  background-color: black;
  border: silver 3px solid;
  color: white;
  font-weight: 900;
  padding: 5px 5px;
};
