*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #eee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  width: 600px;
  background: #fff;
  margin: 16px auto;
  border: 10px solid white;
  padding: 0.5rem;
}

.title {
  background: #e3f4ff;
  padding: 13px;
}

.content {
  background: #e3f4ff;
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 20px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.button-container button {
  background: white;
  margin: 10px auto 0; /* Auto centers block-level element */
  border: 1px solid #eee;
  display: block;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 7px;
};
